.sidebar {
  height: 100%;
  width: 125px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f6dddd;
  padding-top: 20px;
}

.sidebar img {
  max-height: 75px;
  cursor: pointer;
}

.iconContainer {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.iconContainer img {
  max-height: 50px;
  margin-bottom: 30px;
}
