/* .dsa-list {
    min-width: 240px;
    --List-gap: 0.5rem;
    --ListItem-paddingY: 1rem;
    --ListItem-radius: 8px;
  }
  
  .dsa-list-item {
    padding: 0;
  }
  
  .dsa-list-item:hover {
    background-color: var(--joy-palette-primary-100);
  }
  
  .dsa-list-item:hover .MuiRadio-action {
    border-color: var(--joy-palette-primary-500);
  }
  
  .dsa-radio {
    flex-grow: 1;
  }
  
  .dsa-radio .MuiRadio-action {
    border-width: 1px;
  }
  
  .button-container {
    margin-top: 20px;
  }
  
  .back-button {
    margin-right: 10px;
  }
   */
